---
import SecondaryHero from '@/components/SecondaryHero.astro';
import SecondaryHeroStyle from '@/components/SecondaryHeroStyle.astro';
import MainLayout from '../../layouts/MainLayout.astro';

export const title = 'Our Partners';
export const description =
	'An overview of related partners and providers that enable us to offer effective solutions';
---

<MainLayout {title}>
  <SecondaryHero {title} {description}>
    <SecondaryHeroStyle icon="mdi:nature-people-outline" />
    <div slot="inner" class="py-4"></div>
  </SecondaryHero>
  <div></div>
</MainLayout>
