---
import { getCollection } from 'astro:content'
import SiteLayout from '@/layouts/SiteLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
)
---

<SiteLayout title="Blogs">
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}/`}>
                <img width={720} height={360} src={post.data.heroImage} alt="" />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <div>{post.data.publishedAt} </div>
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</SiteLayout>
