---
import SecondaryHero from '@/components/SecondaryHero.astro';
import SecondaryHeroStyle from '@/components/SecondaryHeroStyle.astro';
import MainLayout from '../../layouts/MainLayout.astro';

export const title = 'Cloud Security';
export const description =
	'We provide the assurance for security across any infrastructure type';
---

<MainLayout {title}>
    <SecondaryHero {title} {description}>
        <SecondaryHeroStyle icon="mdi:cloud-key-outline" />
        <div slot="inner">
        <a href="/get-started" class="btn btn-lg btn-secondary rounded-lg px-4 capitalize">
            {"Get Started"}
        </a>
        </div>
  </SecondaryHero>
  <div></div>
</MainLayout>
