---
import SecondaryHero from '@/components/SecondaryHero.astro';
import SecondaryHeroStyle from '@/components/SecondaryHeroStyle.astro';
import MainLayout from '../../layouts/MainLayout.astro';

export const title = 'IOT Solutions';
export const description = 'Transforming connected IOT devices into tool for business insight and success';
---

<MainLayout {title}>
    <SecondaryHero {title} {description}>
        <SecondaryHeroStyle icon="mdi:mobile-devices" />
        <div slot="inner">
        <a href="/get-started" class="btn btn-lg btn-secondary rounded-lg px-4 capitalize">
            {"Get Started"}
        </a>
        </div>
  </SecondaryHero>
  <div></div>
</MainLayout>
