---
import { getRouteObjects } from "@/utils/routes";

const pathname = Astro.url.pathname;
const pathSegments = pathname
  .split("/")
  .filter(Boolean)
  .reduce<string[]>(
    (acc, _, i, arr) => {
      acc.push("/" + arr.slice(0, i + 1).join("/"));
      return acc;
    },
    ["/"],
  );

const pages = await getRouteObjects();
const breadcrumbs = pathSegments.map((path) => {
  const item = pages.find((x) => x.url === path);
  return {
    path,
    label: item?.title ?? "",
  };
});
---

<div class="text-sm breadcrumbs">
  <ul>
    {
      breadcrumbs.map((breadItem, index) =>
        index !== breadcrumbs.length - 1 ? (
          <li>
            <a href={breadItem.path} aria-label={breadItem.label}>{breadItem.label ?? "Missing"}</a>
          </li>
        ) : (
          <li>{breadItem.label ?? "Missing"}</li>
        ),
      )
    }
  </ul>
</div>
