---
import { getRouteObjects } from '@/utils/routes';
import Breadcrumbs from './Breadcrumbs.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<section
  class="relative bg-primary text-white py-8 px-4 overflow-hidden"
  style="
      background: linear-gradient(
        135deg,
        #03144a 0%,
        #1347bf 80%,
        #2370ff 100%
      );
    "
>
  <div class="max-w-7xl mx-auto relative z-10">
    <!-- Breadcrumb -->
    <Breadcrumbs />
    <div class="max-w-2xl mt-8">
      <h1 class="text-4xl lg:text-6xl font-bold mb-4">{title}</h1>
      <p class="text-lg lg:text-xl opacity-95 mb-6 line-clamp-2">
        {description}
      </p>
    </div>
    <slot name="inner" />
  </div>
  <slot />
</section>
