---
import SecondaryHero from '@/components/SecondaryHero.astro';
import SecondaryHeroStyle from '@/components/SecondaryHeroStyle.astro';
import MainLayout from '../../layouts/MainLayout.astro';

export const title = 'Products';
export const description =
	'Various cloud services we offer as a service or entriprise deployment for private cloud';
---

<MainLayout {title}>
  <SecondaryHero {title} {description}>
    <SecondaryHeroStyle icon="mdi:printer-point-of-sale-outline" />
  </SecondaryHero>
  <div>Products</div>
</MainLayout>
