---
import type { MarkdownLayoutProps } from "astro";
import SiteLayout from "./SiteLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  publishDate: string;
}>;

const { frontmatter } = Astro.props;
---

<SiteLayout title={frontmatter.title}>
    <header>
        <p>Published At {frontmatter.publishDate}</p>
        <p>Author: {frontmatter.author}</p>
        <h1>{frontmatter.title}</h1>
    </header>
    <main>
        <slot />
    </main>
</SiteLayout>
